.jumbotron {
  color: #0a79ad;
  background: #8bc313;
  margin-top: 52px;
  margin-bottom: 0px; }

button.btn {
  background: #0a79ad;
  color: white; }

footer {
  background: #8bc313;
  color: white;
  margin-top: 23px; }

.card-title {
  flex: 1 150px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%; }

h4.text-subtext {
  text-align: center; }

h3 {
  text-align: center;
  margin-bottom: 15px; }

p.text-bienvenida {
  text-align: justify; }

.footer-address-icon {
  padding-right: 8PX; }

ol.breadcrumb {
  background: transparent;
  width: 90%;
  margin: auto; }

nav.navbar.navbar-expand-md.navbar-light.fixed-top {
  background: white;
  /* border: brown; */
  /* background: border-box; */ }

h5.card-title {
  text-align: center; }

.container.information {
  margin-top: 39px; }

/* p.card-text {
    text-align: justify;
} */
/* Precios */
.tab-content {
  padding-top: 10px; }

.col-sm-12.d-flex.flex-column.align-items-center {
  margin-top: 19px; }
